@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional small global */
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }

